In [9]:
sales = pd.read_csv('advertising_and_sales_clean.csv')
sales = pd.get_dummies(sales,drop_first = True)
sales

,tv,radio,social_media,sales,influencer_Mega,influencer_Micro,influencer_Nano
0,16000.0,6566.23,2907.98,54732.76,True,False,False
1,13000.0,9237.76,2409.57,46677.90,True,False,False
2,41000.0,15886.45,2913.41,150177.83,True,False,False
3,83000.0,30020.03,6922.30,298246.34,True,False,False
4,15000.0,8437.41,1406.00,56594.18,False,True,False
...,...,...,...,...,...,...,...
4541,26000.0,4472.36,717.09,94685.87,False,True,False
4542,71000.0,20610.69,6545.57,249101.92,False,False,True
4543,44000.0,19800.07,5096.19,163631.46,False,True,False
4544,71000.0,17534.64,1940.87,253610.41,False,False,False
4545,42000.0,15966.69,5046.55,148202.41,False,True,False

In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import RandomizedSearchCV,train_test_split,KFold
from sklearn.linear_model import Ridge
sales = pd.read_csv('advertising_and_sales_clean.csv')
sales = pd.get_dummies(sales,drop_first = True)
X = sales.drop('sales',axis=1).values
y = diabetes['sales'].values
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state = 69)

kf = KFold(n_splits=5, shuffle = True , random_state = 69)
param_grid = {'alpha':np.arange(0.001,1,10),'solver':['sag','lsqr']}
ridge = Ridge()
ridge_cv = RandomizedSearchCV(ridge,param_grid,cv=kf,n_iter = 2)
ridge_cv.fit(X_train,y_train)
print(ridge_cv.best_params_,ridge_cv.best_score_)

{'solver': 'sag', 'alpha': 0.001} 0.9990039049478499